.moduleFeature-cards{
    width: 100%;
    height: auto;
    padding: 60px 0;
    h1{
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 29px;
        line-height: 32px;
        /* or 110% */
        
        text-align: center;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        
        color: #162749;
    }
    .wrap-card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }
}